.contents {
     border: 2px solid black;
     padding: 15px;
   
     position: fixed;
     top: 50%;
     left: 50%;
   
     transform: translate(-50%, -50%);
   }
   
   #generateButton {
     margin-top: 5px;
     margin-bottom: 15px;
   }
   